.filterButtonList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filterButton {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.75rem;
  background-color: rgba(var(--blue), 0.1);
  color: rgb(var(--blue));
}
