* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --blue: 0, 127, 255;
  --white: 255, 255, 255;
  --pale-white: 245, 247, 249;
  --state-purple: 63, 61, 86;
  --muted-azure: 198, 207, 220;
  --state-blue: 141, 156, 184;
  --fire-red: 255, 94, 94;
  --red-shade: 255, 180, 171;

  --status-assigned: 23, 162, 184;   /* Голубой */
  --status-in-progress: 255, 193, 7; /* Желтый */
  --status-completed: 40, 167, 69;   /* Зеленый */
  --status-canceled: 255, 94, 94;    /* Красный */

  --small-screens: 700px;

  font-family: "Urbanist", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;

  color: rgb(var(--state-blue));
  background-color: rgb(var(--white));
}

body, div#root {
  min-width: 320px;
  min-height: 100vh;
}

div#root {
  display: flex;
  align-items: start;
  justify-content: center;
}

input:focus{
  outline: none;
}

button {
  cursor: pointer;
}




